---
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { string } from "astro/zod";
import BlogFooter from "../../components/BlogFooter.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    },
  }));
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { Content } = await post.render();
---

<style is:global>
  .blog-container img {
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
  }
</style>

<BaseLayout title={post.data.title}>
  <h2
    class="bg-gradient-to-br from-amber-300 via-orange-500 to-yellow-400 bg-clip-text text-transparent text-3xl md:text-4xl mb-12"
  >
    {post.data.title}
  </h2>
  <div class="columns-1 md:columns-2 blog-container gap-6 md:gap-16">
    <Content />
  </div>
  <BlogFooter slug={slug} page={3} />
</BaseLayout>
