---
---

<div
  class="container max-w-7xl mx-auto mt-4 md:mt-12 flex items-center justify-center gap-4"
>
  <a
    class="text-lg font-bold text-orange-600 hover:underline hover:text-blue-500"
    target="_blank"
    href="http://eepurl.com/iwe2GQ">Sign up for the news letter!</a
  >
  <img class="h-24 w-24" src="/qr.png" alt="QR code" />
</div>
