---
const { title } = Astro.props;
import "../styles/global.css";
import BaseHeader from "../components/BaseHeader.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="mx-4 md:mx-0">
    <BaseHeader />
    <div class="container max-w-7xl mx-auto mt-12"><slot>Default</slot></div>
  </body>
</html>
